
@import url("/usr/share/libnagato/data/common.css");
@import url("/usr/share/libnagato/data/dialog.css");
@import url("/usr/share/libnagato/data/widget.css");

window, dialog {
    background-repeat: repeat;
    background-position: center;
    /*NAGATO_BACKGROUND_IMAGE_MAIN_WINDOW*/
}

menu {
    background-repeat: repeat;
    background-position: center;
    /*NAGATO_BACKGROUND_IMAGE_GTK_MENU*/
}

paned separator.wide {
    min-width: 8px;
    background-image: None;
    background-color: Transparent;
    opacity: 0.7;
}

notebook {
    /*NAGATO_OPACITY*/
    opacity: 0.9;
}

notebook header.top tabs tab{
    color: Grey;
    background-color: White;
}

notebook header.top tabs tab:checked {
    color: White;
    background-color: plum;
}

treeview.view header button {
    color: White;
    background-color: MediumSlateBlue;
}

treeview.view header button:hover {
    color: White;
    background-color: Orange;
}

stack {
    background-color:Transparent ;
}

iconview {
    background-color: rgba(0, 0, 127, 0.2);
}

iconview.view.cell {
    background-color: Transparent;
    border: none;
}

enytry {
    opacity: 0.8;
}

.toolbar-button {
    opacity: 0.8;
    border: None;
    border-width: 0em;
    border-radius: 0em;
    background-image: None;
}

.toolbar-button:disabled {
    opacity: 0.2;
}

filechooser {
    opacity: 0.9;
}

popover {
    opacity: 0.8;
    background-color: MediumSlateBlue;
}

.popover-button{
    color: White;
    background-color: Transparent;
    border: none;
    opacity: 0.8;
	border-color: Transparent;
	background-image: image(MediumSlateBlue);
}

.popover-button:hover {
	background-image: image(Orange);
}

.toolbar {
    opacity: 1;
    background-color: white;
}

.bookmark-treeview {
    color: white;
    background-color: LightSlateBlue;
    background-color: #657383;
    opacity: 0.9;
    /*NAGATO_OPACITY*/
}

.bookmark-treeview:hover {
    color: white;
    background-color: Orange;
}

.bookmark-treeview.view:selected {
    color: white;
    background-color: Orange;
}
